<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="br.mg.cefet.tracker"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:backupAgent="me.acristoffers.tracker.BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAImJ_QP4NAmp8OnzYorGNuMcm3WJOwPtZr_1ehOA"/>

        <activity
            android:name="me.acristoffers.tracker.activities.PackageListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="me.acristoffers.tracker.activities.PackageEditActivity"
            android:label="@string/edit_package"
            android:parentActivityName="me.acristoffers.tracker.activities.PackageListActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.mg.cefet.tracker.MainActivity"/>

        </activity>

        <activity
            android:name="me.acristoffers.tracker.activities.PackageViewActivity"
            android:label="@string/view_package"
            android:parentActivityName="me.acristoffers.tracker.activities.PackageListActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.mg.cefet.tracker.MainActivity"/>

        </activity>

        <receiver
            android:name="me.acristoffers.tracker.AlarmReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
