<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="br.mg.cefet.tracker"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:backupAgent="BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIgj5VlsxdvWi2hJWROxHu5TSroA3tt0Dgmgxnrg"/>

        <activity
            android:name=".activities.PackageListActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.PackageEditActivity"
            android:label="@string/edit_package"
            android:parentActivityName=".activities.PackageListActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.mg.cefet.tracker.MainActivity"/>

        </activity>

        <activity
            android:name=".activities.PackageViewActivity"
            android:label="@string/view_package"
            android:parentActivityName=".activities.PackageListActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.mg.cefet.tracker.MainActivity"/>

        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
