<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="me.acristoffers.tracker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TrackerTheme">
        <activity
            android:name=".activities.MainActivityPhoneTablet"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PackageDetails"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivityPhoneTablet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.acristoffers.tracker.activities.MainActivityPhoneTablet"/>
        </activity>
        <activity
            android:name=".activities.PackageEdit"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivityPhoneTablet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.acristoffers.tracker.activities.MainActivityPhoneTablet"/>
        </activity>
    </application>

</manifest>
